<h1><strong>Work Experience</strong></h1>

  
    <% @jobs.each do |job| %>
    
    <div class = "item-background">
      <div class ="item-info">
        <h3><%= job.company %></h3>
        <h4><%= job.job_title %><br>
        <%= job.city %><br>
        <%= job.start_date %>
        <%= job.end_date %></h4><br>
        <%= job.description %>
      </div>
    </div>
     
    <% end %>
    
  

<br>

<%= link_to 'New Job', new_job_path %>
